<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 재설정</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer
    ></script>
  </head>
  <body class="bg-light">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-header text-center bg-secondary text-white">
              <h2 class="mb-0">비밀번호 재설정</h2>
            </div>
            <div class="card-body">
              <form
                id="reset-password-form"
                action="/reset-password"
                method="POST"
              >
                <input type="hidden" name="token" value="<%= token %>" />
                <div class="mb-3">
                  <label for="password" class="form-label"
                    >새 비밀번호 입력 *</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    name="newPassword"
                    oninput="this.value = this.value.replace(/[^A-Za-z0-9@$!%*?&]/g, '')"
                  />
                  <div id="password-requirements">
                    <small class="text-muted min-length-check"
                      >최소 8자 이상이어야 합니다</small
                    ><br />
                    <small class="text-muted alpha-numeric-check"
                      >영문자와 숫자가 포함되어야 합니다</small
                    ><br />
                    <small class="text-muted special-char-check"
                      >특수 문자(@$!%*?&)가 포함되어야 합니다</small
                    >
                  </div>
                </div>

                <!-- Confirm Password -->
                <div class="mb-3">
                  <label for="password-validation" class="form-label"
                    >새 비밀번호 확인 *</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="password-validation"
                    name="password-validation"
                    oninput="this.value = this.value.replace(/[^A-Za-z0-9@$!%*?&]/g, '')"
                  />
                </div>

                <div
                  class="cf-turnstile"
                  data-sitekey="0x4AAAAAAA4OvnLMlpRGA3mC"
                  data-theme="light"
                ></div>

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">
                    비밀번호 재설정
                  </button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted">© 2025 RouteSnap</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      const minLengthRegex = /.{8,}/;
      const alphaNumericRegex = /[A-Za-z]/;
      const numberRegex = /[0-9]/;
      const specialCharRegex = /[!@#$%^&*(),.?":{}|<>]/;

      $("#reset-password-form").submit(function (e) {
        const newPassword = $("#newPassword").val();
        const passwordValidation = $("#password-validation").val();

        if (
          !newPassword ||
          newPassword.trim() === "" ||
          !passwordValidation ||
          passwordValidation.trim() === ""
        ) {
          e.preventDefault();
          alert("비밀번호를 입력하세요.");
          return;
        }
        if (newPassword !== passwordValidation) {
          e.preventDefault();
          alert("비밀번호가 일치하지 않습니다.");
          return;
        }

        if (!minLengthRegex.test(newPassword)) {
          e.preventDefault();
          alert("비밀번호는 최소 8자 이상이어야 합니다.");
          return;
        }
        if (
          !alphaNumericRegex.test(newPassword) ||
          !numberRegex.test(newPassword)
        ) {
          e.preventDefault();
          alert("비밀번호에는 영문자와 숫자가 포함되어야 합니다.");
          return;
        }
        if (!specialCharRegex.test(newPassword)) {
          e.preventDefault();
          alert("비밀번호에는 특수 문자가 포함되어야 합니다.");
          return;
        }
      });
    </script>
  </body>
</html>
